<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limaopu.myboot.system.mapper.DictDetailMapper">
    <select id="findByDictId" parameterType="Long" resultType="com.limaopu.myboot.system.entity.DictDetail">
        select * from sys_dict_details where dict_id = #{dictId}
    </select>
</mapper>