<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limaopu.myboot.base.mapper.DictMapper">
    <select id="findAllOrderBySortOrder"  resultMap="getDictMap">
        select a.*
        from sys_dicts a
        where a.status = 1
        order by a.sort_order asc
    </select>

    <select id="findAll"  resultMap="getDictMap">
        select a.*
        from sys_dicts a
        order by a.sort_order asc
    </select>

    <resultMap type="com.limaopu.myboot.base.entity.Dict" id="getDictMap">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="type" property="type"></result>
        <result column="description" property="description"></result>
        <result column="sort_order" property="sortOrder"></result>
        <collection property="dictDetails" column="id" select="com.limaopu.myboot.base.mapper.DictDetailMapper.findByDictId" />
    </resultMap>

</mapper>