<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limaopu.myboot.core.dao.mapper.PermissionMapper">

    <select id="findByUserId" resultType="com.limaopu.myboot.core.entity.Permission">
      SELECT DISTINCT p.id, p.name, p.hidden, p.title, p.path, p.icon, p.type, p.component, p.level,
                      p.is_button, p.parent_id, p.sort_order, p.status, p.api, p.keep_alive, p.redirect
      FROM sys_users u
      LEFT JOIN sys_user_roles ur ON u.id = ur.user_id
      LEFT JOIN sys_role_permissions rp ON ur.role_id = rp.role_id
      LEFT JOIN sys_permissions p ON p.id = rp.permission_id
      WHERE u.id = #{userId} AND p.status = 1
      ORDER BY p.sort_order ASC, p.id ASC
    </select>
</mapper>